.todos {
  margin-top: 45px;
}

.todo-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  display: flex; 
  align-items: center; 
}


.item-info {
  flex-grow: 1;
  margin-right: 10px; 
  align-items: center;
  display: flex;
}

.item-values {
  padding-left: 30px;
}

.action-buttons {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
}

.action-buttons {
  display: flex; 
  justify-content: space-between; 
  gap: 10px; 
}


.buttons-container {
  display: flex; 
  gap: 10px; 
  margin-top: 20px;
}

.button-anchor-secondary {
  background-color: #01662b; 
  color: white;
  border: none;
  padding: 8px 12px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 14px; 
  margin: 4px 2px; 
  cursor: pointer; 
  transition-duration: 0.4s; 
}

.button-anchor-secondary:hover {
  background-color: #03883a; 
}

.button {
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button-primary {
  background-color: #007bff;
  color: white;
}

.button-primary:hover {
  background-color: #0095ff; 
}

.button-secondary {
  background-color: #01662b; 
  color: white;
}

.button-secondary:hover {
  background-color: #03883a; 
}

.button-warning {
  background-color: #e10808d8;
  color: white;
}

.button-warning:hover {
  background-color: #fd3737d8; 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.step-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current {
  font-weight: bold;
  color: #333;
}

.first-page-link,
.prev-page-link,
.next-page-link,
.last-page-link {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.first-page-link:hover,
.prev-page-link:hover,
.next-page-link:hover,
.last-page-link:hover {
  background-color: #0056b3;
  color: white;
}

/* Styles for incomplete tasks */
.todo-item-text {
  background-color: #f9f9f9; /* Light grey background for incomplete tasks */
  color: #333; /* Darker text for readability */
}

/* Styles for completed tasks */
.todo-item-text-done {
  background-color: #0791e8; /* Light green background for completed tasks */
  color: #01014f; /* Dark green text for contrast */
  text-decoration: line-through; /* Strike through the text to indicate completion */
}
